# Import the Relation Katalog Stoff into the Geodatabase

The CSV file `katalog_stoff.csv` contains a relation with a list of all possible measurement parameters (e.g. nitrate concentration, pH or temperature) together with an associated unique numerical ID.  

The database connection parameters and the database user credentials (login role) are stored in the file [credentials.py](credentials.py).

In [1]:
import pandas as pd
import sqlalchemy
import credentials as creds 
#import credential_temp as creds

In [2]:
creds.URL

'postgresql://env_master:M123xyz@localhost:5432/env_db'

## Data location

In [3]:
# data_in_dir = r"../data/OpenGeoData.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/"
# katalog_fname = r"katalog_stoff.csv"
# katalog_pfname = data_in_dir + katalog_fname

In [4]:
data_in_dir = r"../data/OpenGeoData.NRW/OpenHygrisC/OpenHygrisC_gw-messstelle_EPSG25832_CSV/"
katalog_fname = r"katalog_stoff.csv"
katalog_pfname = data_in_dir + katalog_fname

## Read the Data
Don't forget to add the "delimiter", normal csv file's delimiter is "," but in our case it's ";", so we need to assign it.

In [5]:
#df = pd.read_csv(katalog_pfname, sep = ";", index_col="stoff_nr")
# df.head()

In [6]:
df = pd.read_csv(katalog_pfname, sep = ";")
df.head()

   stoff_nr                                     name  beschreibung cas_id
0      1000     Wassertemperatur, gemessen im Zulauf           NaN    NaN
1      1001   Relative Luftfeuchte 0.8m, Tagesmittel           NaN    NaN
2      1002  Relative Luftfeuchte 0.8m, Tagesminimum           NaN    NaN
3      1003  Relative Luftfeuchte 0.8m, Tagesmaximum           NaN    NaN
4      1004                       Luftdruck, Minimum           NaN    NaN

## Connect to Database

In [7]:
# connect to our credential file
postgresurl = creds.URL

In [8]:
# write your sql url below
engine = sqlalchemy.create_engine(postgresurl)

## Import to Database

In this section, I have imported the data to the Schema of "hygrisc" which has been created before in our PGadmin. but you can set your table in your schema.

In [9]:
%time df.to_sql(con=engine, name="katalog_stoff", schema="gw", if_exists="fail", index=False)
#%time df.to_sql(con=engine, name="katalog_stoff", schema="gw", if_exists="replace", index=False)

CPU times: total: 15.6 ms
Wall time: 190 ms

966

In [10]:
df

,stoff_nr,name,beschreibung,cas_id
0,1000,"Wassertemperatur, gemessen im Zulauf",NaN,NaN
1,1001,"Relative Luftfeuchte 0.8m, Tagesmittel",NaN,NaN
2,1002,"Relative Luftfeuchte 0.8m, Tagesminimum",NaN,NaN
3,1003,"Relative Luftfeuchte 0.8m, Tagesmaximum",NaN,NaN
4,1004,"Luftdruck, Minimum",NaN,NaN
...,...,...,...,...
1961,4539,"2,2',4,5'-Tetrabrombiphenylether",NaN,243982-82-3
1962,4540,"2,2',3,4,4',5'-Hexabrombiphenylether",NaN,182677-30-1
1963,4541,Perfluordodecansulfons√§ure,NaN,79780-39-5
1964,4542,PCB-51,NaN,68194-04-7
1965,4543,PCB-68,NaN,73575-52-7

### Create Primary Key

In [11]:
#engine.execute("alter table gw.katalog_stoff add constraint pk_katalog_stoff primary key (stoff_nr)")
#Would work with sqlalchemy versions 1.X s  e.g. 1.4

In [12]:
%load_ext sql

In [13]:
%sql postgresql://env_master:M123xyz@localhost/env_db

Connecting to 'postgresql://env_master:***@localhost/env_db'

In [14]:
%%sql
alter table gw.katalog_stoff add constraint pk_katalog_stoff primary key (stoff_nr)

Running query in 'postgresql://env_master:***@localhost/env_db'

++
||
++
++